name: Docker CI

on:
  push:

jobs:
  Docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Checkout FDP repo
        uses: actions/checkout@v3
        with:
          repository: FAIRDataTeam/FAIRDataPoint
          path: fdp
          ref: v1.13.0

      - name: Check FDP
        run: |
          ls -la ./fdp

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta (Docker Hub)
        id: meta-public
        uses: docker/metadata-action@v4
        with:
          images: |
            fairdata/fairdatapoint
          tags: |
            type=raw,value=1.13.0
      
      - name: Build and push (Docker Hub)
        uses: docker/build-push-action@v3
        if: steps.meta-public.outputs.tags != ''
        with:
          context: ${{ github.workspace }}/fdp
          file: ${{ github.workspace }}/fdp/Dockerfile.build
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-public.outputs.tags }}
          labels: ${{ steps.meta-public.outputs.labels }}
